<header>
  <div class="header">
    <h1>Get Your Dream Job</h1>
  </div>
</header>


<section class="container">
  <div class="row section-1">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="content">
        <h5>ABOUT ME</h5>
        <h1>
          Welcome, all! We at JusBid, are always excited to bring new energy into the house.
        </h1>
        <p>
          This idea has the potential to grow and
          make affordable traveling a dream come true for many aspiring travelers.
          We are not limited to providing budget-friendly accommodation for people with wanderlust souls, but we also
          plan to make JusBid a complete traveling solution. You can be a part of this revolution too. Give us your
          ideas, and get a working environment that supports you like a family
          Our Start-Up came up with a
          revolutionary idea- making hotel rooms available by a customer's bid.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="main-image">
        <img src="assets/front-photo.png" alt="">
      </div>
    </div>
  </div>
</section>





<section class="container">
  <div class="row section-line">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1>How is it like working with us?</h1>
    </div>
  </div>
</section>



<section class="container">
  <div class="row section-2">
    <div class="col-lg-6 col-image col-md-6 col-sm-12 col-xs-12">
      <div class="col-lg-2">
        <div class="image-1">
          <img src="assets/first.png" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
        <div class="image-2">
          <img src="assets/first-image.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="column1-content">
        <h1>Learn while you earn</h1>
        <p>Learning should never stop when someone wants to earn. It is a notion that a person has to leave their job if
          they wish to learn a skill or practice a hobby. That's a thing of the past because JusBid always encourages
          their employees to acquire whatever skill they want to learn. We offer paid leaves, regular training, and
          constantly update our employees of current happenings in the world regarding their work profile.
        </p>
      </div>
    </div>
  </div>
</section>





<section class="container ">
  <div class="row section-3">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="column2-content">
        <h1>Emphasis on inclusive ness.</h1>
        <p>We believe no one should be left behind. If a working enjoinment has people from different backgrounds,
          sexual orientation, gender identity, color, religion, race, age, marital status, etc., then it is bound to
          grow. The people from these different worlds build together a supportive working environment that cares for
          everyone. We, at JusBid, believe in creating a JusBid family that represents the entire world!
        </p>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6  col-image">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="image-3">
          <img src="assets/second-image.png" alt="">
        </div>
      </div>

      <div class="col-lg-0">
        <div class="image-4">
          <img src="assets/second.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>





<section class="container">
  <div class="row section-4">
    <div class="col-lg-6 col-image col-md-6 col-sm-12 ">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <div class="image-5">
          <img src="assets/third.png" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-10 col-sm-10 ">
        <div class="image-6">
          <img src="assets/third-image.png" alt="">
        </div>
      </div>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 ">
      <div class="column4-content">
        <h1>Let's build great things when we are together</h1>
        <p>Let's find some new bugs in our system. Let's develop a new app that serves our customers better. Let's make
          a mechanism where employees can talk about their grievances easily. Let's do all of that together and create a
          working group that always supports new ideas. Our Start-Up idea is in itself something new, and we took the
          initiative to bring that out. We will surely support your ideas. Be a part of JusBid and share it with us, we
          will make it a reality together!
        </p>
      </div>
    </div>
  </div>
</section>



<section class="container">
  <div class="row section-7">
    <h4>Be a part of a fun-filled working organization today. Pick a profile from below and send us your resume </h4>
    <h5><a href="mailto:hr@jusbid.in">hr@jusbid.in</a></h5>
    <h5><a href="mailto:hr@rudrohom.com">hr@rudrohom.com</a>  <span> now !</span></h5>
  
  </div>
</section>




<section class="container">
  <div class="row section-5">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="f_column">
        <h5>WE ARE HIRING</h5>
        <h1>Head start towards
          choosing right career.</h1>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="l_column">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
    </div>
  </div>
</section>



<section class="container">
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 section-6">
    <div class="col mb-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">UX Researcher</h4> <br>
          <p>Burcharest, Romania</p>
          <hr>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit.</p>
          <div class="button">
            <button class="btn btn-primary" (click)="applyfunc('UX')">Apply Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">UX Researcher</h4> <br>
          <p>Burcharest, Romania</p>
          <hr>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit.</p>
          <div class="button">
            <button class="btn btn-primary" (click)="applyfunc('UX1')">Apply Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">UX Researcher</h4> <br>
          <p>Burcharest, Romania</p>
          <hr>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit.</p>
          <div class="button">
            <button class="btn btn-primary" (click)="applyfunc('UX2')">Apply Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">UX Researcher</h4> <br>
          <p>Burcharest, Romania</p>
          <hr>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit.</p>
          <div class="button">
            <button class="btn btn-primary" (click)="applyfunc('UX3')">Apply Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row section-8">
    <h6>AMAZING LIFE</h6>
    <h1>Amazing Life at us.</h1>
    <div class="image">
      <img src="assets/asset-tiga.png" alt="">
    </div>

  </div>
</section>




<section class="container">
  <div class="row row-cols-4 row-cols-xs-2 row-cols-md-2 section-9 py-5">
    <div class="col mb-2 col-lg-3 col-md-6 col-sm-4">
      <div class="image">
        <img src="assets/emp_img.png" alt="">
      </div>
    </div>
    <div class="col mb-2 col-lg-3 col-md-6 col-sm-4">
      <div class="image">
        <img src="assets/emp_img.png" alt="">
      </div>
    </div>
    <div class="col mb-2 col-lg-3 col-md-6 col-sm-4">
      <div class="image">
        <img src="assets/emp_img.png" alt="">
      </div>
    </div>
    <div class="col mb-2 col-lg-3 col-md-6 col-sm-4">
      <div class="image">
        <img src="assets/emp_img.png" alt="">
      </div>
    </div>
  </div>
</section>















<div *ngIf="Isshowmodel" class="model modal-dialog-scrollable">
  <div class=" card2">
      <h2>Job Description</h2>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3>[Job Title]</h3>
      <p>Formal position title.</p>
      <h3>Reports To:</h3>
      <p>The [job title] will report to [position title or titles this position reports to]. {{string}}</p>
      <h3>Job Overview:</h3>
      <p>Provide a brief, four-sentence description of the role, what success in the position looks like, and
          how it
          fits into the company or organization overall.</p>
      <h3>Responsibilities and Duties:</h3>
      <li>List the essential duties required to carry out this job.</li>
      <li>List them in order of importance.</li>
      <li>Use complete sentences.</li>
      <li>Start sentences with verbs.</li>
      <li>Use the present tense.</li>
      <li>Use gender-neutral language.</li>
      <h3>Qualifications:</h3>
      <li>Education level.</li>
      <li> Experience.</li>
      <li>Specific skills.</li>
      <li>Personal characteristics.</li>
      <li>Certifications.</li>
      <li>Licenses.</li>
      <li>Physical abilities.</li>
      <h4>Please Fill the below form </h4>
      <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSe80wJ_ddqy78WyzL4MSE925snX3HsSjST5VyDafj0dMVfsCA/viewform">Click
          here</a>
  </div>
</div> 